/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* Root variables - Light theme */
:root {
  /* Colors */
  --main: #a388ee;
  --overlay: rgba(0, 0, 0, 0.8);
  --bg: #e3dff2;
  --bw: #fff;
  --blank: #000;
  --border: #000;
  --text: #000;
  --mtext: #000;
  --ring: #000;
  --ring-offset: #fff;

  /* Layout */
  --border-radius: 5px;
  --box-shadow-x: 4px;
  --box-shadow-y: 4px;
  --reverse-box-shadow-x: -4px;
  --reverse-box-shadow-y: -4px;

  /* Typography */
  --base-font-weight: 500;
  --heading-font-weight: 700;

  /* Computed values */
  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}

/* Dark theme overrides */
.dark {
  --bg: #272733;
  --bw: #212121;
  --blank: #fff;
  --border: #000;
  --text: #e6e6e6;
  --mtext: #000;
  --ring: #fff;
  --ring-offset: #000;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}

@layer base {}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} 